<launch>
  <!-- visualization -->
  <node name="my_dvs_renderer" pkg="ros_dvs_renderer" type="ros_dvs_renderer" output="screen" launch-prefix="gdb -ex run --args">
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="/dvs/events" />
    <remap from="image" to="/dvs/image_raw" />
    <remap from="dvs_rendering" to="dvs_rendering" />
  </node>


  <!-- display -->
  <node name="image_view_left" pkg="image_view" type="image_view">
  	<remap from="image" to="dvs_rendering"/>
  </node>

</launch>
